<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Meet-up Event Planer</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="css/main.css">
    
    <link rel="apple-touch-icon" sizes="180x180" href="../favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="../favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="../favicons/manifest.json">
    <link rel="shortcut icon" href="../favicons/favicon.ico">
    <meta name="msapplication-config" content="../favicons/browserconfig.xml">
    <meta name="theme-color" content="#2f9edb">
</head>
<body>
    <header>
        <div class="container">
            <h1 class="app-title">Event Planner</h1>
            <div class="user-state">
                <button id="regist-btn">Register</button>
                <div id="user">
                <!--display user name-->
                </div>

                <!--Registration form, it's part of the register view-->
                <div class="regist cover-layer">
                    <div class="regist-form">
                        <h2>Create an account</h2><button class="close-form">&#215;</button>
                        <form id="registration">
                            <label for="name"><span class="label-text">name</span>
                                <input type="text" id="name" placeholder="example: Jason Bourne" required autocomplete="name">
                                <span class="alert"></span>
                            </label>
                            <label for="email"><span class="label-text">email</span>
                                <input type="email" id="email" placeholder="email@domain.com" required autocomplete="email">
                                <span class="alert"></span>
                            </label>
                            <label for="password"><span class="label-text">password</span>
                                <input type="password" id="password" required placeholder="6~16 numbers and letters">
                                <span class="alert"></span>
                            </label>
                            <label for="jobTitle"><span class="label-text">job title</span>
                                <input type="text" id="jodTitle" placeholder="your job (not required)">
                                <span class="alert"></span>
                            </label>
                            <progress id="r-f-p" value="0" max="3"></progress>
                            <p>You can close this form to skip.</p>
                                <button type="submit" id="submit">submit</button>
                        </form>
                    </div>
                </div>
            </div>

            <nav>
                <ul class="navigation">
                    <li><a class="addEvent current" href="#/">Add</a></li>
                    <li><a class="listEvent" href="#/list-events">My events <span class="event-counter"></span></a></li>
                </ul>
            </nav>
        </div>
    </header>



    <main class="planer-app container">
            <!--Form for create an event-->
        <section class="event-form open">
            <div class="add-event-form">
                <h2>Add an event</h2>
                <hr>
                <form id="add-event">
                    <label for="event-name"><span class="label-text">Event name:</span>
                        <input type="text" id="event-name" placeholder="Event Name" required autofocus>
                        <span class="alert"></span>
                    </label>
                    <label for="event-type"><span class="label-text">Event type:</span>
                        <input list="type-list" placeholder="Event Type" id="event-type" required>
                        <datalist id="type-list">
                            <option value="Party"></option>
                            <option value="Meeting"></option>
                            <option value="Soprt"></option>
                        </datalist>
                        <span class="alert"></span>
                    </label>
                    <label for="event-host"><span class="label-text">Host:</span>
                        <input type="text" id="event-host" placeholder="Host" required>
                        <span class="alert"></span>
                    </label>
                    <label for="start-time"><span class="label-text">Start time:</span>
                        <input type="datetime-local" id="start-time" required>
                        <span class="alert"></span>
                    </label>
                    <label for="end-time"><span class="label-text">End time:</span>
                        <input type="datetime-local" id="end-time" required>
                        <span class="alert"></span>
                    </label>
                    <label for="event-location"><span class="label-text">Event location:</span>
                        <input type="address" id="event-location" required placeholder="Event location">
                        <span class="alert"></span>
                    </label>
                    <label for="guest-list"><span class="label-text">Guest list:</span>
                        <textarea type="textarea" id="guest-list" placeholder="Names of your guests" required></textarea>
                        <span class="alert"></span>
                    </label>
                    <label for="extra-info"><span class="label-text">Additional info:</span>
                        <textarea type="textarea" id="extra-info" placeholder="Additional information"></textarea>
                    </label>
                    <label for="event-color"><span class="label-text">Choose a color for the event</span>
                        <input id="event-color" type="color"></input>
                    </label>
                    <progress id="e-f-p" value="0" max="7"></progress>
                    <button id="add">Add</button>
                </form>
            </div>
        </section>
        <!-- this is the view of the event list -->
        <section class="events-view">
            <ul class="event-list">
            </ul>
        </section>
    </main>

    <footer>
        <hr>
        <p>
            View code on <a href="https://github.com/JimmyQsc/meet-up_event_planner">github</a><br>
            Made by <a href="https://jimmyqsc.github.io" target="blank">Jimmy Q</a>
        </p>
    </footer>

    <script type="text/template" id="user-template">
        <span class="user-name"><%= name %></span>
    </script>

    <script type="text/template" id="event-template">
        <h2><%= name %></h2>
        <div class="content">
            <h3><%= type %></h3>
            <p><span class="label">time: </span><%= startTime %> - <%= endTime %></p>
            <p><span class="label">location: </span><%= location %></p>
            <p><span class="label">host: </span><%= host %></p>
            <p><span class="label">guest list: </span><%= guestList %></p>
            <p><span class="label">description: </span><%= extraInfo %></p>
        </div>
    </script>

    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/underscore/underscore-min.js"></script>
    <script src="../bower_components/backbone/backbone-min.js"></script>
    <script src="../bower_components/backbone.localStorage/backbone.localStorage-min.js"></script>
    <!-- build:js js/app.js -->
    <script src="js/validation/validation.js"></script>
    <script src="js/models/event.js"></script>
    <script src="js/models/user.js"></script>
    <script src="js/views/mainView.js"></script>
    <script src="js/router/router.js"></script>
    <script src="js/collections/events.js"></script>
    <script src="js/views/register.js"></script>
    <script src="js/views/event.js"></script>
    <script src="js/app.js"></script>
    <!-- endbuild -->
</body>
</html>
